:root{
    --white: #FFFFFF;

    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;


    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;

    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #495057;
    --gray-500: #343A40;


    --border-radius : 2.4rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Inter';
    background-color: var(--light-blue-100);
}

body {
    display: flex;
    flex-direction: column;
}

.body-content{
    align-self: center;
    width: 100%;
    max-width: 50rem;
    
    padding-top: 2.4rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.icon-website {
    margin-top: 2.4rem;
    margin-left: 1.6rem;
}

.icon-website img {
    width: 3.2rem;
    height: 4.8rem;
}

.input-box {
    margin-top: 8rem;
    width: 100%;
    height: 22rem;
    
    font-family: 'inter', 'arial';
    color: var(--dark-blue-300);
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 150%;

    border: none;
    background-color: var(--light-blue-100);
    resize: none;
    overflow-y: scroll;
}

.input-box:focus-visible{
    border: none;
    outline: none;
}

textarea::placeholder {
    color: var(--dark-blue-300);
}

.foot-note {
    display: flex;
    align-items: center;
    height: 2rem;
    margin-top: 6.4rem;
}

.foot-note p {
    margin-left: .8rem;
    color: var(--gray-400);
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.blue-button {
    width: 100%;
    height: 6.7rem;

    margin-top: 16px;

    align-content: center;
    color: var(--white);
    background-color: var(--dark-blue-300);
    border-radius: var(--border-radius);
}

.blue-button:hover {
    background-color: var(--dark-blue-400);
}

.white-button {
    width: 100%;
    height: 6.7rem;
    margin-top: 16px;

    color: var(--dark-blue-300);
    background-color: var(--light-blue-100);
    border: .1rem solid var(--dark-blue-300);
    border-radius: var(--border-radius);
}

.white-button:hover{
    background-color: var(--light-blue-200);
}

.aside {
    display: grid;
    align-self: center;

    width: calc(100% - 4.8rem);
    max-width: 50rem;
    
    margin-top: 6.4rem;
    margin-bottom: 2.4rem;
    padding: 2.4rem 3.2rem;
    
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow:0 2.4rem 3.2rem .8rem rgba(0, 0, 0, 0.08);
}

.no-message-found picture {
    display: none;
}

.no-message-found h2 {
    text-align: center;

    font-weight: 700;
    font-size: 2.4rem;
    
    line-height: 120%;
    color: var(--gray-500);
}

.no-message-found h4 {
    margin-top: 1.6rem;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    text-align: center;

    color: var(--gray-400);
}

.encripted-message {
    display: grid;
    grid-template-rows: auto 7rem;
}

.encripted-message p {

    margin-top: 1.6rem;
    
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 150%;
    
    color: var(--gray-400);
    overflow-y: scroll;
}

@media (min-width: 768px) {
    .icon-website {
        margin-top: 7.5rem;
        margin-left: 4rem;
    }
    .body-content {
        max-width: 80rem;
        padding-top: 7.5rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .buttons {
        flex-direction: row;
        gap: 2.4rem;
    }

    .aside {
        max-width: 80rem;
        width: calc(100% - 8rem);
    }
}

@media (min-width: 1000px) {
    body {
        flex-direction: row;
        align-items: start;
        place-content: center;
        height: 100vh;
    }

    .icon-website {
        margin-top: 4rem;
        margin-left: 8.4rem;
    }

    .body-content {
        display: grid;
        grid-template-rows: 1fr 8.4rem 8.3rem;

        height: 100vh;
        padding: 12.5rem 8rem 7.5rem 12.5rem;
        
    }

    .input-box {
        margin-top: 0;
        height: 100%;
    }

    .aside {
        display: flex;
        flex-wrap: wrap;
        place-content: center;

        width: 40rem;
        height: calc(100vh - 8rem);
        margin: 4rem 4rem;
    }

    .no-message-found picture {
        display: block;
    }

    .encripted-message {
        display: grid;
        grid-template-rows: 1fr 8.4rem;
        height: 100%;
    }
}

.invisible {
    display: none;
    height: 0;
    width: 0;
}